<h1>Mis productos</h1>

<div class="productos-container">
    {{#each payload}}
    <div class="card-productos">
        <p>{{this.title}}</p>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <a href="/products/{{this._id}}">Ver detalles</a>
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
    {{/if}}
    <span>Página {{page}} de {{totalPages}}</span>
    {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>

<script>
    function addToCart(productId) {
        fetch('/api/carts/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ productId }),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Producto agregado al carrito:', data);
                alert('Producto agregado al carrito');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Error al agregar el producto al carrito');
            });
    }
</script>