<div class="container">
    <h1>Mis productos</h1>

    <div class="productos-container">
        {{#each payload}}
        <div class="card-productos">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
            <a href="/products/{{this.id}}">Ver detalles</a>
            <button onclick="addToCart('{{this.id}}', '{{cartId}}')">Agregar al carrito</button>
        </div>
        {{/each}}
        </div>

        <div class="pagination">
            {{#if hasPrevPage}}
                <a href="{{prevLink}}">Anterior</a>
            {{/if}}
            <span>Página {{page}} de {{totalPages}}</span>
            {{#if hasNextPage}}
                <a href="{{nextLink}}">Siguiente</a>
            {{/if}}
        </div>
    </div>

    <script>
        async function addToCart(productId, cartId) {
            try {
                const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ quantity: 1 }), // Puedes ajustar la cantidad según sea necesario
                });
                const data = await response.json();
                console.log('Producto agregado al carrito:', data);
                alert('Producto agregado al carrito');
            } catch (error) {
                console.error('Error:', error);
                alert('Error al agregar el producto al carrito');
            }
        }
    </script>
    <span>
        cartId: {{cartId}}
    </span>
</div>
