<h1>Detalles del Producto</h1>

<div class="product-details">
    <h2>{{product.title}}</h2>
    <p>Descripción: {{product.description}}</p>
    <p>Precio: ${{product.price}}</p>
    <p>Categoría: {{product.category}}</p>
    <p>Stock: {{product.stock}}</p>
    <button onclick="addToCart('{{product.id}}', '{{cartId}}')">Agregar al carrito</button>
</div>

{{!-- <script>
    function addToCart(productId, cartId) {
        const response = fetch(`/api/carts/${cartId}/product/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ quantity: 1 }), // Puedes ajustar la cantidad según sea necesario
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                console.log('Producto agregado al carrito:', data);
                alert('Producto agregado al carrito');
            } else {
                alert(`Error: ${data.message}`);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Error al agregar el producto al carrito');
        });
    }
</script> --}}

    <script>
        async function addToCart(productId, cartId) {
            try {
                const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ quantity: 1 }), // Puedes ajustar la cantidad según sea necesario
                });
                const data = await response.json();
                console.log('Producto agregado al carrito:', data);
                alert('Producto agregado al carrito');
            } catch (error) {
                console.error('Error:', error);
                alert('Error al agregar el producto al carrito');
            }
        }
    </script>
<span>
    cartId: {{cartId}}
</span>


